<template lang="html">
    <div class="body d-flex mt-3">
        <Filters></Filters>
        <Roads></Roads>
    </div>
</template>

<script>
    import Filters from './Filters.vue';
    import Roads from './Roads.vue';

    export default {
        name: "Body",
        components:{
            Roads,
            Filters
        }
    }
</script>

<style scoped>

</style>
