<template>
    <div class="card mr-4">
        <div class="card-body">
            <div class="form-group">
                <label for="title" class="">Название дороги</label>
                <input type="text" class="form-control" id="title" v-model="parameters.title.value" v-on:input="filterChange">
            </div>
            <div class="form-group">
                <label for="rgn" class="">РГН</label>
                <input type="text" class="form-control" id="rgn" v-model="parameters.rgn.value" v-on:input="filterChange" v-bind:disabled="isTitleEmpty">
            </div>
            <div class="form-group">
                <label for="district_title" class="">Городской округ</label>
                <select  class="form-control" id="district_title" v-model="parameters.districtTitle.value" @change="filterChange" v-bind:disabled="isTitleEmpty">
                    <option value="">Любой</option>
                    <option :value="district" v-bind:key="index" v-for="(district , index) in districts">{{district}}</option>
                </select>
            </div>
        </div>
    </div>
</template>

<script>
    import { roads } from "../../mixins/roads";

    export default {
        name: "Filters",
        mixins: [roads],
        data() {
            return {
                parameters: {
                    title: {value: '', name: 'title'},
                    rgn: {value: '', name: 'rgn'},
                    districtTitle: {value: '', name: 'district_title'},
                },
                districts: [
                    'Городской округ Звенигород',
                    'Сергиево-Посадский муниципальный район',
                    'Городской округ Истра',
                    'Раменский муниципальный район',
                    'Пушкинский муниципальный район',
                    'Воскресенский муниципальный район',
                    'Городской округ Красногорск',
                    'Городской округ Мытищи',
                    'Городской округ Домодедово',
                    'Городской округ Электрогорск',
                    'Можайский муниципальный район'
                ]
            }
        },
        computed:{
            urlParams(){
                let url = '';

                Object.keys(this.parameters).map((key) => {
                    const param = this.parameters[key];
                    param.value !== '' ? url += `${param.name}=${param.value}&` : '';
                });

                return url.slice(0, -1);
            },

            isTitleEmpty(){
                return this.parameters.title.value == '';
            }
        },
        methods: {
            filterChange() {
                if(this.parameters.title.value == ''){
                    this.parameters.rgn.value = this.parameters.title.value;
                    this.parameters.districtTitle.value = this.parameters.title.value;
                }
                this.loadRoads(this.urlParams);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card {
        display: flex;
        flex: 4 1 500px;
    }
    label, input, select , option{
        color: $gray-600 !important;
    }
    input:focus, select:focus, option:focus{
        border-color: map_get($theme-colors, 'primary') !important;
        box-shadow: none !important;

    }
</style>
