<template lang="html">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>РГН</th>
                    <th>Городской округ</th>
                    <th>ОКАТО</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-bind:key="index" v-for="(item , index) in $store.getters.roads">
                        <td>{{item.title}}</td>
                        <td>{{item.rgn}}</td>
                        <td>{{item.district_title}}</td>
                        <td>{{item.district_okato}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import { roads } from './../../mixins/roads';

    export default {
        name: "Roads",
        mixins: [roads],
        created() {
            this.loadRoads();
        }
    }
</script>

<style lang="scss" scoped>
    .card{
        display: flex;
        flex: 10 1 auto;
    }
</style>
