<template lang="html">
    <div class="card pr-3 pl-3">
        <div class="card-body">
            <div class="row d-flex justify-content-between">
                <div class="d-flex flex-row">
                    <div class="mr-4 avatar"></div>
                    <div class="company">
                        <div class="h5 mb-1">Название компании</div>
                        <div class="h6">Слоган компании</div>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <span class="h5">{{username}}</span>
                    <button class="btn btn-sm ml-3 exit mb-1">
                        <i class="fa fa-sign-out"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
    export default {
        name: "Head",
        data() {
            return {
                username: 'Иванов Иван Иванович'
            }
        }
    }
</script>

<style lang="scss" scoped>
    .avatar {
        padding: 35px;
        border: 2px solid $gray-500;
        background: $gray-400;
        border-radius: 35px;
    }

    .company {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .exit {
        padding: 5px 10px;
        border: none;
        font-size: 18pt;
    }

</style>
