<template lang="html">
    <div id="app">
        <div class="container-fluid wrapper">
            <Head></Head>
            <Body></Body>
        </div>
    </div>
</template>

<script>
    import Head from './components/Head/Head.vue'
    import Body from './components/Body/Body.vue'

    export default {
        name: 'app',
        components: {
            Head,
            Body
        }
    }
</script>

<style lang="scss">
    .wrapper{
        padding: 20px 45px;
        background-color: $gray-200;
    }
</style>
